<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <h2>Nama saya adalah {{ name }}</h2>
    <article>NPM : {{ npm }}</article><br>
    <article>Saya berumur {{ age }} tahun</article><br>
    <article>Saya mahasiswa angkatan {{ angkatan }}</article><br>
    <article>Hobi saya adalah {{ hobby }}</article><br>
    <article>Deskripsi singkat : <br>
             Saya mahasiswa Fasilkom UI angkatan 2018 (Quanta).<br>
             Saya senang mendengarkan musik, biasanya sambil mengerjakan tugas<br>
             atau saat bebas. Saya selalu berusaha untuk memberikan yang terbaik<br> 
             dalam apapun yang saya lakukan. Salam kenal!</article><br>
    <article>Saya berkuliah di {{ location }}</article><br>
    <article>Foto saya : </article>
    <img src="https://pbs.twimg.com/media/EDrRKKMU4AAYweA?format=jpg&name=small"></img>
</body>
</html>